<div
  style="background-color: var(--g-purple); border-radius: 10px"
  *ngIf="channelId && channelName"
>
  <div class="channel-header">
    <h1 style="padding-top: 15px">📢 Channel: {{ channelName }}</h1>
    <button (click)="changeChannelName()" class="action-button">
      Change Channel Name 🖊️
    </button>
    <button (click)="deleteChannel()" class="action-button delete-button">
      Delete Channel 😿
    </button>
  </div>
  <div style="background-color: white; border-radius: 10px; padding: 10px">
    <div class="friend-list-container">
      <h3>✨ Add Friends to Channel</h3>
      <div class="friend-list-box">
        <div *ngFor="let friend of friendList" class="friend-item">
          <span>🆔 {{ friend.friendId }} / {{ friend.friendUsername }}</span>
          <button
            (click)="addFriendToChannel(friend.friendId)"
            class="add-friend-btn"
          >
            ➕ Add to Channel
          </button>
        </div>
      </div>
    </div>

    <h3>🏰 Channel Users</h3>
    <div class="member-list-box" *ngIf="users$ | async as response">
      <div class="user-section">
        <h3>👑 Owner</h3>
        <div *ngFor="let user of response.data">
          <div *ngIf="user.userRole === 'OWNER'">
            <p class="friend-item">
              <span>🆔 {{ user.userId }} / {{ user.username }}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="user-section">
        <h3>🛡️ Admins</h3>
        <div *ngFor="let user of response.data">
          <div *ngIf="user.userRole === 'ADMIN'">
            <p class="friend-item">
              <span>🆔 {{ user.userId }} / {{ user.username }}</span>
              <button (click)="removeUser(user.userId)" class="remove-user-btn">
                Remove 💥
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="user-section">
        <h3>🏹 Members</h3>
        <div *ngFor="let user of response.data">
          <div *ngIf="user.userRole === 'MEMBER'">
            <p class="friend-item">
              <span>🆔 {{ user.userId }} / {{ user.username }}</span>
              <span>
                <button
                  (click)="promoteToAdmin(user.userId)"
                  class="promote-btn"
                >
                  Make Admin 🚀
                </button>
                <button
                  (click)="removeUser(user.userId)"
                  class="remove-user-btn"
                >
                  Remove 💥
                </button></span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
