<div *ngIf="channels.length > 0; else noChannels">
  <ul>
    <li *ngFor="let channel of channels">
      <strong>Channel Name:</strong> {{ channel.channelName }} <br />
      <strong>Role:</strong> {{ channel.role }}
      <span *ngIf="channel.role === 'OWNER'">
        <button (click)="deleteChannel(channel.channelId)">Delete</button>
        <button (click)="changeChannelName(channel.channelId)">
          Change Name
        </button>
      </span>
    </li>
  </ul>
</div>

<ng-template #noChannels>
  <p>No channels available.</p>
</ng-template>
