<div class="message-container">
  <h2 style="text-align: center">🌟 Chat with {{ friendUsername }}</h2>
  <div class="chat-wrapper">
    <div class="messages" #messageContainer>
      <div
        *ngFor="let message of messages"
        [ngClass]="{
          'my-message': message.senderId === currentUserId,
          'friend-message': message.senderId !== currentUserId
        }"
      >
        <div class="message-text">{{ message.messageText }}</div>
        <div class="message-header">
          <span class="message-time">{{ message.createdAt }}</span>
        </div>
      </div>
    </div>

    <div class="message-input">
      <textarea
        [(ngModel)]="newMessage"
        placeholder="Type your message..."
        rows="4"
      ></textarea>
      <button (click)="sendMessage()">Send 📩</button>
    </div>
  </div>
</div>
