.message-container {
    display: flex;
    flex-direction: column;
  }
  
  .messages {
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .my-message {
    background-color: pink;
    align-self: flex-end;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .other-message {
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .message-time {
    font-size: 0.8em;
    text-align: right;
    color: gray;
  }
  