<div>
  <!-- Search Section -->
  <div>
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search for a friend"
    />
    <button (click)="searchUsers()" [disabled]="!searchQuery.trim()">
      Search
    </button>
  </div>

  <!-- Display Found User -->
  <div>
    <h3>Found User:</h3>
    <div *ngIf="foundUser">
      <p><strong>Username:</strong> {{ foundUser.username }}</p>
      <!-- Add more user details as needed -->
      <button (click)="addToFriendList(foundUser.id)">Add to Friendlist</button>
    </div>
  </div>

  <!-- Show All Users -->
  <h3>All Users</h3>
  <ul>
    <li
      *ngFor="let user of users; trackBy: trackByUserId"
      (mouseenter)="isHoveredUserId = user.id"
      (mouseleave)="isHoveredUserId = null"
    >
      <span>{{ user.username }}</span>
      <!-- Add button next to user if the user is hovered -->
      <button
        *ngIf="isHoveredUserId === user.id"
        (click)="addToFriendList(user.id)"
      >
        Add to Friendlist
      </button>
    </li>
  </ul>
</div>
