<div class="friend-list-container">
  <table class="friend-list-table">
    <table>
      <thead>
        <tr>
          <th>Friend ID</th>
          <th>Username</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let friend of friendList"
          (click)="goToChat(friend.friendId)"
          style="cursor: pointer"
        >
          <td>{{ friend.friendId }}</td>
          <td>{{ friend.friendUsername }}</td>
          <td>
            <button class="chat-button">Start Chat</button>
          </td>
        </tr>
      </tbody>
    </table>
  </table>
</div>
