<div *ngIf="channels && channels.length > 0; else noChannels">
  <div class="channel-list-container">
    <div *ngFor="let channel of channels" class="channel-item">
      <span class="channel-info"
        >🆔 {{ channel.channelId }} / {{ channel.channelName }}</span
      >
      <div class="channel-actions">
        <a
          [routerLink]="['/editChannel']"
          [queryParams]="{ id: channel.channelId, name: channel.channelName }"
          class="edit-channel-link"
        >
          Edit 📝
        </a>
        <button
          [routerLink]="['/chatChannel']"
          [queryParams]="{ id: channel.channelId, name: channel.channelName }"
          class="chat-button"
        >
          Chat ✉️
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noChannels>
  <p>No channels available.</p>
</ng-template>
