<div *ngIf="channels && channels.length > 0; else noChannels">
  <ul>
    <li *ngFor="let channel of channels">
      <span>{{ channel.channelId }} / {{ channel.channelName }}</span>
      <a
        [routerLink]="['/editChannel']"
        [queryParams]="{ id: channel.channelId, name: channel.channelName }"
      >
        Edit Channel
      </a>
      <button
        [routerLink]="['/chatChannel']"
        [queryParams]="{ id: channel.channelId }"
      >
        Chat
      </button>
    </li>
  </ul>
</div>

<ng-template #noChannels>
  <p>No channels available.</p>
</ng-template>
