<div class="chat-wrapper">
  <!-- Header Section -->
  <div class="chat-container">
    <div class="chat-header">
      <h1>🎉 Welcome to the Application</h1>
      <div *ngIf="username && userId" class="user-info">
        <p>👋{{ username }} (🆔: {{ userId }})</p>
        <app-logout class="logout-button"></app-logout>
      </div>
    </div>
    <div class="chat-actions-container">
      <div class="contacts-header add-jwt">
        <a routerLink="/addContacts" class="contacts-link">➕ Add Contacts</a>
        <button (click)="getTokenInfo()" class="jwt">🌟 JWT Token Check</button>
      </div>

      <!-- Contacts Section -->
      <div class="contacts-container">
        <div class="contact-section">
          <h3>👤 Friends</h3>
          <app-available-chats></app-available-chats>
        </div>
        <div class="contact-section">
          <h3>📱 Channels</h3>
          <app-available-channels></app-available-channels>
        </div>
      </div>
    </div>
  </div>
</div>
