<div class="chat-wrapper">
  <!-- Header Section -->
  <div class="chat-container">
    <div class="chat-header">
      <h1>🎉 Welcome to the Application</h1>
      <div *ngIf="username && userId" class="user-info">
        <p>👤 {{ username }} (ID: {{ userId }})</p>
        <app-logout class="logout-button"></app-logout>
      </div>
    </div>
    <div class="chat-actions-container">
      <div class="contacts-header add-jwt">
        <a routerLink="/addContacts" class="contacts-link">➕ Add Contacts</a>
        <button (click)="getTokenInfo()" class="jwt">🌟 JWT Token Check</button>
      </div>

      <!-- Contacts Section -->
      <div class="contacts-container">
        <div class="contact-section">
          <h3>Friends</h3>
          <app-available-chats></app-available-chats>
        </div>
        <div class="contact-section">
          <h3>Channels</h3>
          <app-available-channels></app-available-channels>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  :root {
    --g-purple: #3c2d83;
    --g-orange: #ee7f54;
    --g-grey: #e8e8e8;
  }

  .chat-wrapper {
    background-color: var(--g-grey);
    border-radius: 10px;
    padding: 20px;
  }

  .chat-header {
    background-color: var(--g-purple);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }

  .chat-container {
    background-color: var(--g-purple);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }

  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-info p {
    font-size: 14px;
    color: #ddd;
  }

  .logout-button {
    margin-left: 20px;
  }

  .chat-actions-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .add-jwt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .jwt {
    background-color: var(--g-orange);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .jwt button:hover {
    background-color: darkorange;
  }

  .contacts-container {
    margin-top: 20px;
  }

  .contacts-header a {
    text-decoration: none;
    color: var(--g-purple);
    font-weight: bold;
  }

  .contacts-header a:hover {
    color: var(--g-orange);
  }

  .contact-section {
    margin-bottom: 20px;
  }

  /* Style for the available chats and channels boxes */
  .contact-section h3 {
    color: var(--g-purple);
    margin-bottom: 10px;
  }

  app-available-chats,
  app-available-channels {
    display: block;
    max-height: 150px; /* Maximum height for the box */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    background-color: #fff;
    border: 1px solid var(--g-purple);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
</style>
